@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    decimal totalLocal = (decimal)ViewBag.totalLocal;
}

<div class="row">
    <div class="col-12">
        <label>Total Local</label>
        <b>@totalLocal</b>
    </div>
</div>
